@media only screen and (min-width: 1200px) {


    #hamburgerButton {
        display: none;
    }

    .navigation-menu {
        display: flex;
        position: static;
        justify-content: space-between;
        align-items: center;
    }

    .btn-close {
        display: none;
    }

    .header__logo {
        margin-right: 190px;
    }

    .header__navigation {
        flex-grow: 1;
    }
    .navigation__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation__item {
        margin: 0;
    }

    .header-bottom {
        display: flex;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 70px;
        align-items: center;
    }

    .header-bottom-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }


    .header-bottom-content__list {
        display: flex;
        max-width: 800px;
        justify-content: space-between;
      }
      
      .header-bottom-content__list--item__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right: 80px;
        
        cursor: pointer;
        
        color: #fff;
        transition-property: background-color;
        transition: .3s ease-in-out;
      }

      .header-bottom-content__list--item__btn:hover:not(:active) ,
      .header-bottom-content__list--item__btn:focus:not(:focus-visible),
      .header-bottom-content__list--item__btn:focus-visible,
      .header-bottom-content__list--item__btn.active--btn {
        background-color: rgba(0, 0, 0);
      }
      
      .header-bottom-content__list--item__btn:focus-visible {
        outline: 0;
      }

      .header-bottom-content__list--item__btn:active {
        background-color: rgba(0,0,0, 0.2);
      }

      .header-bottom-content__list--item {
        position: relative;
      }

      .header-bottom-content__container--dropdown {
        background-color: #000;
        color: #fff;
        width: 200px;
        position: absolute;
        top: 40px;
        
        display: none;
      }

      .header-bottom-content__container--dropdown-list__item {
        padding: 20px;
        border-bottom: 2px solid grey;
      }

      .header-bottom-content__container--dropdown-list__item:last-child {
        border: 0;
      }
      
      .header-bottom-content__active-list--item {
        display: block;
      }

      .header-bottom-content__list--item__btn.active--btn:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #fff;
        bottom: 0;
        left: 0;
        
        animation: anim 2s infinite ease-in-out;
      }
      
      
      
      @keyframes anim {
        0% {
          transform: scaleX(0)  translateX(-50%);
          opacity: 0;
        }
        50% {
          transform: scaleX(1) translateX(0%);
          opacity: 1;
        }
        100% {
          transform: scaleX(0) translateX(50%);
          opacity: 0;
        }
      }


    .main {
        min-height: 800px;
    }

    .swiper-pic-1 {
        background-image: url(/img/main/desktop/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1.png);
    }
    
    .swiper-pic-2 {
        background-image: url(/img/main/desktop/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg);
    }
    
    .swiper-pic-3 {
        background-image: url(/img/main/desktop/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.png);
    }

    .btn-enter {
        border: none;
    }

    .btn-search {
        display: none;
    }

}  /* end of media query */

@media only screen and (min-width: 1400px) {

    .container {
        padding-left: 160px;
        padding-right: 160px;
    }
}