@media only screen and (min-width: 680px) {
 
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header{
        min-height: 100px;
    }

    .header-top {
        min-height: 100px;
    }

    .header-top__content{
        min-height: 100px;
    }
    .hamburger-button {
        width: 37px;
    }

    .header__logo {
        width: 188px;
    }

    .btn-search {
        width: 27px;
    }

    .swiper-pic-1 {
        background-image: url(/img/main/medium/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1.png);
    }
    
    .swiper-pic-2 {
        background-image: url(/img/main/medium/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.png);
    }
    
    .swiper-pic-3 {
        background-image: url(/img/main/medium/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.png);
    }

    .main {
        min-height: 768px;
        align-items: flex-start;
        padding-top: 213px;
    }

    .main__heading {
        font-size: 72px;
        line-height: 83px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 10px;
        max-width: 90%;
    }

    .main__text {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 134px;
    }

    .btn-subscribe {
        height: 70px;
        font-size: 18px;
        line-height: 24.51px;
        padding: 15px 35px;
        font-weight: 700;
        
    }

    /* About Us */

    .about-us {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .about-us__title {
        color: #333333;
        font-size: 48px;
        line-height: 65px;
        margin-bottom: 16px;
    }

    .about-us__text {
        color: #333333;
        font-size: 16px;
        line-height: 32px;
    }



    /* FOOTER */

    .footer-row {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer__socials {
        padding-top: 0;
        margin-bottom: 0;
    }
 
    .footer__logo {
        min-width: 173px;
    }
}  /* end of media query */