* {
    font-family: 'Open Sans';
    font-weight: 400;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    font-size: 16px; 
    box-sizing: border-box; 
}



html {
    -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
}

a {
	text-decoration: none;
}

/* .column {
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.small-12 {
    width: 100%;
}   */


.btn:hover {
    cursor: pointer;
}

.header {
    background-color: black;

}


.header__top {
    min-height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 70%;
}


.header__bottom {
    display: none;
}
 
.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* 
.header {
    color: #FFFFFF;
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}


.header__top {
    background-color: black;
    min-height: 100px;
	padding-top: 19px;
}

.header__logo {
    width: 173px;
    height: 39.9px;
    display: inline-block;
    margin-right: 131px;
    transform: translateY(10px);
}

.header__navigation {
    display: inline-block;
}

.navigation__list {
    list-style-type: none;
}

.navigation__item {
    display: inline-block;
    margin-right: 60px;
}

.navigation__link {
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-weight: 600;
    font-style: normal;
}

.header-btn__enter {
    float: right;
    padding-top: 20px;
}

.btn-enter {
    background: transparent;
    color: #FFFFFF;
    border: transparent;
    font-size: 18px;
    line-height: 25px;
}

.btn-enter-icon {
    width: 13px;
    height: 13px;
    display: inline-block;
}



.header__bottom {
    background-color: wheat;
} */



/* FOOTER */
.footer {
    background-color: black;
}

.footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white ;
    min-height: 132px;
    align-items: center;
}

.footer__socials {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    max-width: 210px;
}

.footer__social-img {
    width: 50px;
    height: 50px;
}

.footer__logo {
    display: flex;
    justify-content: center;
}

.footer__logo-img {
    justify-self: center;
}

#hamburgerButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 18px;
}

.navigation-menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 90%);
    padding: 15px;
    display: none;
}

.navigation__list {
    margin: 0;
    padding: 0;
}

.navigation__item {
    list-style-type: none;
    margin-bottom: 16px;
}

.navigation__link {
    display: block;
    color:white;
    text-align: left;
}


.btn-close {
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 18px;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

}

.btn-enter {
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    color: white;
    font-size: 12px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    padding: 15px 30px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.btn-enter-icon {
    margin-right: 5px;
}

.btn-enter__text {
    font-size: 12px;
}