* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    font-size: 16px; 
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}



html {
    -webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
}

a {
	text-decoration: none;
}


.btn:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER */

.header {
    background-color: black;
    position: absolute;
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: center;
}


.header__top {
    min-height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 18px;
}

.hamburger-button__img {
    width: 100%;
}

.header__logo {
    max-width: 70%;
}

.btn-search__img {
    width: 100%;
}

.header__bottom {
    display: none;
}
 

.navigation-menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 90%);
    padding: 15px;
    display: none;
    padding-bottom: 24px;
}

.navigation__list {
    margin: 0;
    padding: 0;
}

.navigation__item {
    list-style-type: none;
    margin-bottom: 16px;
}

.navigation__link {
    display: block;
    color:white;
    text-align: left;
}

.navigation__link:hover {
    color: #C283F3 ;
}

.navigation__link:active {
    color: #7943A4 ;
}

.btn-close {
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 18px;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

}

.btn-enter {
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    color: white;
    font-size: 12px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    padding: 15px 30px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.btn-enter:hover {
    background-color: #9D5CD0;
}


.btn-enter:active {
    background-color: #7943A4;
}

.btn-enter-icon {
    margin-right: 5px;
}

.btn-enter__text {
    font-size: 12px;
}

.search-input {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 90%);
    padding: 15px;
    min-height: 75px;
    padding-left: 50px;
    display: none;
}

.search-input__btn-close {
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 18px;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    float: right;
}

.search-from {
    margin-top: 30px;
}

input[type="text"] {
    width: 70%;
    background: transparent;
    border: none;
    border-bottom: 2px solid white ;
}

/* MAIN */
.hero {
    position: relative;
    word-wrap: break-word;
}

.swiper-container {
    position: relative;
    z-index: 2;
  }

  .hero .swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
.swiper-pic-1 {
    background-image: url(/img/main/small/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1.png);
}

.swiper-pic-2 {
    background-image: url(/img/main/small/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg);
}

.swiper-pic-3 {
    background-image: url(/img/main/small/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.png);
}

.swiper-slide {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    min-height: 355px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding-right: 29px;
    padding-left: 29px;
    padding-top: 78px;
}

.main__heading {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 14px;
}

.main__text {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.btn-subscribe {
    background: #9D5CD0;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: 12px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    padding: 15px 18px;
    display: flex;
    font-weight: 700;
    justify-items: center;
    align-items: center;
}

.btn-subscribe:hover {
    border: 3px solid #D1A9F0;
}

.btn-subscribe:active {
    background: #7943A4;
}



/* About Us */

.about-us {
    padding-top: 50px;
    padding-bottom: 41px;
}

.about-us__title {
    color: #333333;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
}

.about-us__text {
    color: #333333;
    font-size: 14px;
    line-height: 28px;
}


/* FOOTER */
.footer {
    background-color: black;
}

.footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white ;
    min-height: 132px;
    align-items: center;
}

.footer__socials {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    max-width: 210px;
}

.footer__social-img {
    width: 50px;
    height: 50px;
}

.footer__logo {
    display: flex;
    justify-content: left;
}

.footer__logo-img {
    justify-self: left;
}





/* for js */

.open {
    display: block;
}